header#main-header {
    height: 60px;
    width: 100%;
    background: #7159c1;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}